# WhatsApp Business API
PHONE_NUMBER_ID=1143696795490480
ACCESS_TOKEN=EAASZBkUs5gaoBStYZBVnnXuJYmVUZAiNWNLZAYXZA5jnX8zCY4DcaOo86SGe8doHt47rsCRzltCTddQS95xXY0ioCDgczx8oY6Bb3O14GIxZAZCJsrwgKN5VKSlM6vR3igXUNYfmBKwdFZAMNDUWURzu1a2S8WErOazK1ZACZAToPQWX0OsSZBGripUpX5N1tNGgkzQy9WrxAn5xrYgCsR8YowWnvWkcw7xS2YR6suiZAJO4ojM7xnkwEGJU2ghneEuriROGQ7UNs3DId11u6QQAROxKo6WYv5AQZCMtpZAQZDZD

# Token de verificação do webhook (gerar um aleatório)
VERIFY_TOKEN=seu_token_seguro_aqui_123456

# Google Sheets
# Você pode usar o arquivo credentials.json ou a variável de ambiente abaixo
# GOOGLE_CREDENTIALS_JSON={"type": "service_account", ...}

# Porta
PORT=5000
